
.containerCard{
  display: grid;
  grid-gap: 20px 8px;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
}

.cardCharacter > img {
  
}

.imgCard{
  width: 100%;
  max-width: 100%;
}

.cardCharacterMale{
  border: 2px solid rgba(54, 153, 51, 0.842);
  border-radius: 5px;
  background: rgba(54, 153, 51, 0.842);
  color: white;
}

.cardCharacterFemale{
  border: 2px solid rgba(102, 51, 153, 0.692);
  border-radius: 5px;
  background: rgba(102, 51, 153, 0.692);
  color: rgb(123, 25, 221);;
}